# --- Server Port Configuration ---
BACKEND_PORT=3000

# --- PostgreSQL Database Connection ---
DATABASE_HOST=localhost # value is ignored when running from docker
DATABASE_PORT=5432
DATABASE_NAME=*****
DATABASE_USER=*****
DATABASE_PASSWORD=*****

# --- Replace <DATABASE_XYZ> with appropriate field for integration tests ---
DATABASE_URL=postgresql://<DATABASE_USER>:<DATABASE_PASSWORD>@<DATABASE_HOST>:<DATABASE_PORT>/<DATABASE_NAME>

# --- Authentication & Security Secrets ---
JWT_SECRET_TOKEN=***** # can be any value
